<%
  sub_sections = @page.sub_sections.order(:position)
  sub_sections = sub_sections.map { |ss| { id: ss.id, title: ss.title } }
%>

<div class="covid-manage-page__summary-list">
  <%= render 'components/reorderable_list', {
    input_name: "section_order_save",
    items: sub_sections,
  } %>
</div>
