<p>
  <%= button_to 'Publish changes to GOV.UK', tag_publish_lists_path(tag),
        method: :post,
        class: "btn btn-success publish btn-lg",
        data: { confirm: "Are you sure you want to publish this immediately to GOV.UK?" },
        disabled: !tag.dirty?
  %>
</p>
