<%
  announcements = @page.announcements.order(:position)
  announcements = announcements.map { |a| { id: a.id, title: a.title } }
%>

<div class="covid-manage-page__summary-list">
  <%= render 'components/reorderable_list', {
    input_name: "announcement_order_save",
    items: announcements,
  } %>
</div>
