<%
  links = [
    {
      text: 'Coronavirus pages',
      href: coronavirus_pages_path
    },
    {
      text: "#{@coronavirus_page.name} announcements",
      href: coronavirus_page_path(slug: @coronavirus_page.slug)
    },
    {
      text: "Add announcement"
    },
  ]

  metadata = {
    "Status" => "Draft",
    "Last saved" => format_full_date_and_time(DateTime.now),
  }
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, formatted_title(@coronavirus_page) %>
<% content_for :context, "Add announcement" %>
<% if @announcement.errors.any? %>
  <%= render "shared/sub_sections/form_errors", resource: @announcement %>
<% end %>

<div class="covid-edit-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @announcement, announcement: @announcement, url: coronavirus_page_announcements_path do  %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
