<%
  timeline_entries = @page.timeline_entries.order(:position)
  timeline_entries = timeline_entries.map { |te| { id: te.id, title: te.heading } }
%>

<div class="covid-manage-page__summary-list">
  <%= render 'components/reorderable_list', {
    input_name: "timeline_entry_order_save",
    items: timeline_entries,
  } %>
</div>
