<%
  body ||= false
%>
<div class="app-c-panel govuk-panel govuk-panel--inverse">
  <h2 class="govuk-panel__title">
    <%= title %>
  </h2>
  <% if body %>
    <div class="govuk-body">
      <%= body %>
    </div>
  <% end %>
</div>
