<div class="app-side">
  <div class="app-side__actions">
    <%= render "govuk_publishing_components/components/button", {
      text: "Publish",
      href: "#"
    } %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Preview",
      href: "#",
      target: "_blank",
      secondary: true
    } %>

    <%= link_to 'Discard changes', "#",class: %w(govuk-link govuk-link--no-visited-state app-link--destructive) %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <%= link_to "View on GOV.UK", "#", target: "_blank", class: "govuk-link govuk-link--no-visited-state" %>
  </div>
</div>
