log/*.log
tmp
db/dumps
yarn-error.log
npm-debug.log
public
coverage

# Ignore JavaScript dependencies
/node_modules

# Ignore compiled assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# vim swap files and tags
*.sw[a-z]
/tags
