.covid-manage-page__accordion-summary-list,
.covid-manage-page__announcements-summary-list {
  .govuk-summary-list__key {
    width: 70%;
  }

  .govuk-summary-list__value {
    width: 0;
  }

  .govuk-summary-list__actions {
    width: 30%;
  }
}

.covid__spaced-list .covid__spaced-list-item:nth-of-type(2n) {
  margin-bottom: govuk-spacing(4);
}
