.covid-manage-page__summary-list,
.covid-manage-page__summary-list--divider {
  .govuk-summary-list__key {
    width: 50%;
  }

  .govuk-summary-list__value {
    width: 10;
  }

  .govuk-summary-list__actions {
    width: 40%;
  }
}

.covid-manage-page__summary-list--divider:not(:first-child) {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(6);
  border-top: 1px solid govuk-colour("mid-grey");
}

.covid__spaced-list .covid__spaced-list-item:nth-of-type(2n) {
  margin-bottom: govuk-spacing(4);
}
