.covid-manage-page__accordion-summary-list {
  .govuk-summary-list__key {
    width: 70%;
  }

  .govuk-summary-list__value {
    width: 0;
  }

  .govuk-summary-list__actions {
    width: 30%;
  }
}
