.covid-manage-page__summary-list,
.covid-manage-page__accordion-summary-list,
.covid-manage-page__announcements-summary-list {
  .govuk-summary-list__key {
    width: 70%;
  }

  .govuk-summary-list__value {
    width: 0;
  }

  .govuk-summary-list__actions {
    width: 30%;
  }
}

.covid-manage-page__accordion-summary-list,
.covid-manage-page__announcements-summary-list {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(6);
  border-top: 1px solid govuk-colour("mid-grey");
}

.covid__spaced-list .covid__spaced-list-item:nth-of-type(2n) {
  margin-bottom: govuk-spacing(4);
}
