// import govuk_admin_template to get bootstrap styles
@import 'govuk_admin_template';

$light-grey: #eeeeee;
$grey: #888888;
$dark-grey: #2a2a2a;

.tags-list {
  @extend .table; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .table-bordered; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .table-striped; // stylelint-disable-line scss/at-extend-no-missing-placeholder

  .child-actions {
    padding: 0;
    margin: 0;
    float: right;

    li {
      display: inline-block;
    }

    li a {
      @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
      @extend .btn-default; // stylelint-disable-line scss/at-extend-no-missing-placeholder
      @extend .btn-xs; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    li a[rel='view'] {
      @extend .btn-primary; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }
  }

  .no-entries {
    text-align: center;
    padding: 20px 0;
  }
}

.heading-with-actions {
  margin: 10px 0 20px;
  overflow: hidden;

  h1,
  h2 {
    float: left;
    line-height: 1.4;
    margin: 0;
  }

  .actions {
    float: right;
  }
}

h1 .type {
  font-size: 22px;
  display: block;
  font-weight: normal;
  color: $grey;
  line-height: 1.4;
}

.actions {
  @extend .btn-group; // stylelint-disable-line scss/at-extend-no-missing-placeholder

  a {
    @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    @extend .btn-default; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  }
}

.attributes {
  @extend .panel; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .panel-default; // stylelint-disable-line scss/at-extend-no-missing-placeholder

  font-size: 16px;
  margin-top: 25px;

  dl {
    @extend .panel-body; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    margin-bottom: 0;

    dt,
    dd {
      line-height: 1.5;
    }

    dd {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.children {
  border-top: 1px solid $light-grey;
  padding: 10px 0 0;
  position: relative;

  small i {
    color: $dark-grey;
    margin-right: 3px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }
}
