// import govuk_admin_template to get bootstrap styles
@import 'govuk_admin_template';

$light-grey: #eee;
$grey: #888;
$dark-grey: #2a2a2a;

.tags-list {
  // scss-lint:disable PlaceholderInExtend
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;

  .child-actions {
    padding: 0;
    margin: 0;
    float: right;

    li {
      display: inline-block;

      a {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-xs;

        &[rel='view'] {
          @extend .btn-primary;
        }
      }
    }
  }

  .no-entries {
    text-align: center;
    padding: 20px 0;
  }
}

.heading-with-actions {
  margin: 10px 0 20px;
  overflow: hidden;

  h1,
  h2 {
    float: left;
    line-height: 1.4;
    margin: 0;
  }

  .actions {
    float: right;
  }
}

h1 .type {
  font-size: 22px;
  display: block;
  font-weight: normal;
  color: $grey;
  line-height: 1.4;
}

.actions {
  // scss-lint:disable PlaceholderInExtend
  @extend .btn-group;

  a {
    @extend .btn;
    @extend .btn-default;
  }
}

.attributes {
  // scss-lint:disable PlaceholderInExtend
  @extend .panel;
  @extend .panel-default;

  font-size: 16px;
  margin-top: 25px;

  dl {
    @extend .panel-body;
    margin-bottom: 0;

    dt,
    dd {
      line-height: 1.5;
    }

    dd {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.children {
  border-top: 1px solid $light-grey;
  padding: 10px 0 0;
  position: relative;

  small i {
    color: $dark-grey;
    margin-right: 3px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }
}
