<% content_for :title, "Coronavirus pages" %>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Coronavirus landing page</h2>
<ul class="govuk-list">
  <li><%= link_to t("coronavirus.pages.index.landing_page_edit.sections"), coronavirus_page_path(slug: @topic_page.slug), class:"govuk-link" %></li>
</ul>
