<% unless @step_by_step_page.steps_have_content? %>
  <%= render "govuk_publishing_components/components/inset_text" do %>
    <h2 class="govuk-heading-m">To publish this step by step you need to</h2>
    <p class="govuk-body">Add content to all your steps</p>
  <% end %>
<% end %>
