<%= render 'coronavirus/shared/breadcrumbs', text: t("coronavirus.announcements.new.title")  %>
<% content_for :title, formatted_title(@page) %>
<% content_for :context, t("coronavirus.announcements.new.title") %>
<% if @announcement.errors.any? %>
  <%= render "shared/sub_sections/form_errors", resource: @announcement %>
<% end %>

<div class="covid-edit-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @announcement, announcement: @announcement, url: coronavirus_page_announcements_path do  %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
