<% announcements =
 @coronavirus_page.announcements.order(:position).map do |announcement|
   {
     id: announcement.id,
     field: announcement.title,
     edit: { href: edit_coronavirus_page_announcement_path(@coronavirus_page.slug, announcement) },
     delete: {
       href: coronavirus_page_announcement_path(@coronavirus_page.slug, announcement),
       data_attributes: {
         confirm: t("coronavirus_pages.announcements.confirm"),
         method: "delete"
       }
     }
   }
 end %>

<div class="covid-manage-page__announcements-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "Announcements",
    items: announcements,
    edit: {
      link_text: t("coronavirus_pages.announcements.reorder"),
      href: reorder_coronavirus_page_announcements_path(@coronavirus_page.slug)
    }
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("coronavirus_pages.announcements.add"),
    href: new_coronavirus_page_announcement_path(@coronavirus_page.slug)
  } %>
</div>
