<% sub_sections =
 @coronavirus_page.sub_sections.order(:position).map do |sub_section|
   {
     id: sub_section.id,
     field: sub_section.title,
     edit: { href: edit_coronavirus_page_sub_section_path(@coronavirus_page.slug, sub_section) },
     delete: {
       href: coronavirus_page_sub_section_path(@coronavirus_page.slug, sub_section),
       data_attributes: {
         confirm: "Are you sure?",
         method: "delete"
       }
     }
   }
 end %>

<div class="covid-manage-page__accordion-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: @coronavirus_page.sections_title,
    items: sub_sections
  } %>
</div>
