<h3>Redirects</h3>

<table class='table'>
  <tr>
    <th>Added</th>
    <th>From</th>
    <th>To</th>
  </tr>
  <% redirects.order('created_at DESC').each do |redirect| %>
    <tr>
      <td><%= redirect.created_at.to_formatted_s(:long) %></td>
      <td><%= link_to redirect.from_base_path, website_url(redirect.from_base_path), target: '_blank' %></td>
      <td><%= link_to redirect.to_base_path, website_url(redirect.to_base_path), target: '_blank' %></td>
    </tr>
  <% end %>
</table>
