<%= render "shared/breadcrumbs", {
  links: [
    {
      text: "Specialist topic pages",
      href: topics_url,
    },
    *([
      text: @topic.parent[:title],
      href: topic_url(@topic.parent),
    ] if @topic.parent.present? ),
    {
      text: @topic[:title],
    },
  ],
} %>

<% content_for :title, govuk_tag_heading(tag: @topic) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body">
      This specialist topic has been archived.
    </p>

    <%= render "shared/redirects", redirect_routes: @topic.redirect_routes %>

    <% if @topic.children.any? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render "shared/list-children-pages", page: @topic %>
      </section>
    <% end %>
  </div>
</div>
