<%= render "shared/breadcrumbs", {
  links: [
    {
      text: "Specialist topic pages",
      href: topics_url,
    },
    *([
      text: @topic.parent[:title],
      href: topic_url(@topic.parent),
    ] if @topic.parent.present? ),
    {
      text: (@topic[:title].presence || "Topic"),
      href: topic_url(@topic),
    },
    {
      text: "Edit",
    },
  ],
} %>

<% content_for :title, govuk_tag_heading(tag: @topic, prepend: "Edit") %>

<%= render "shared/error_summary", object: @topic %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "create_update_form", update: true %>
  </div>
</div>
