<%= header 'Topics', breadcrumbs: ['Topics'] do %>
  <% if gds_editor? %>
    <%= link_to new_topic_path, class: 'new' do %>
      <span class="icon"></span> Add a topic
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/tags/table',
      resources: @topics,
      empty_message: "No topics exist yet" %>
