<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: 'Edit content',
      href: @step_by_step_page
    },
    {
      text: 'Edit'
    }
  ]
%>
<%= render 'shared/steps/step_breadcrumb', links: links %>

<h1>Editing Step By Step</h1>

<%= render 'form', step_by_step_page: @step_by_step_page %>
