<%
  links = [
    {
      text: 'Step by steps',
    }
  ]
%>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<% content_for :title, "Step by steps" %>

<% content_for :title_side, render("govuk_publishing_components/components/button", {
  text: "Create new step by step",
  href: new_step_by_step_page_path,
  margin_bottom: true
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "step_by_step_pages/index/filters" %>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body govuk-!-margin-bottom-1"><%= pluralize(@step_by_step_pages.count, "step by step") %></p>

    <% if @step_by_step_pages.none? %>
      <div class="govuk-body">
        <p>Improve your search results by:</p>
        <ul>
          <li>removing filters</li>
          <li>searching for something less specific</li>
          <li>double-checking your spelling</li>
        </ul>
      </div>
    <% else %>
      <%= render "step_by_step_pages/index/results" %>
    <% end %>
  </div>
</div>
