<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: 'Create'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<h1>Create step by step navigation</h1>

<%= render 'form', step_by_step_page: @step_by_step_page %>
