<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: 'Edit content'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1><%= @step_by_step_page.title %></h1>

<ul class="list-inline step-actions">
  <li><%= link_to 'Edit title, intro or slug', edit_step_by_step_page_path(@step_by_step_page), class: "btn btn-default" %></li>
</ul>
