<% content_for :title, "Which coronavirus page do you need to publish?" %>

<ul class="govuk-list">
<% links.each do |link| %>
  <li><%= link_to link[:title], coronavirus_path(slug: link[:slug]), class:"govuk-button" %></li>
<% end %>
</ul>
