<div class="govuk-!-padding-bottom-1">
  <%= render "govuk_publishing_components/components/heading", {
  text: t("coronavirus_pages.github.update_heading"),
  padding: true
  } %>
  <p class="govuk-body">
    <%= t("coronavirus_pages.github.update_sub_heading_html", github_url: github_url) %>
  </p>
</div>
<div class="govuk-!-padding-bottom-1">
  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_pages.github.review_heading"),
    padding: true
  } %>
  <p class="govuk-body">
    <%= t("coronavirus_pages.github.approve_sub_heading") %>
  </p>
</div>
