<div class="govuk-!-padding-bottom-2">
  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_pages.preview.heading"),
    padding: true
  } %>
  <div class="govuk-!-padding-bottom-3">
    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_pages.preview.button_text"),
      href: draft_govuk_url(path),
      target: "_blank",
      secondary: true
    } %>
  </div>
</div>
