.gem-c-layout-for-admin {
  @include _govuk-font-face-nta;

  .govuk-main-wrapper {
    padding-top: 0;
  }
}

.gem-c-phase-banner {
  .gem-c-phase-banner__banner-item {
    display: none;
    margin-right: govuk-spacing(4);

    @include govuk-media-query($from: desktop) {
      display: inline-block;
    }
  }

  .govuk-link {
    font-size: inherit;

    &.active {
      font-weight: bold;
    }
  }
}

.govuk-list {
  &.govuk-list--inline {
    li {
      display: inline-block;
      padding-right: 5px;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}

.govuk-tag {
  &.govuk-tag--warning {
    background-color: govuk-colour('yellow');
    color: govuk-colour('black');
  }

  &.govuk-tag--success {
    background-color: govuk-colour('green');
  }
}
