.gem-c-layout-for-admin {
  @include _govuk-font-face-nta;
}

.gem-c-phase-banner {
  .gem-c-phase-banner__banner-item {
    display: none;
    margin-right: govuk-spacing(4);

    @include govuk-media-query($from: desktop) {
      display: inline-block;
    }
  }

  .govuk-link {
    font-size: inherit;

    &.active {
      font-weight: bold;
    }
  }
}

.govuk-list {
  &.govuk-list--inline {
    li {
      display: inline-block;
      padding-right: 5px;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}

.govuk-tag {
  &.govuk-tag--warning {
    background-color: govuk-colour('yellow');
    color: govuk-colour('black');
  }

  &.govuk-tag--success {
    background-color: govuk-colour('green');
  }
}

.gem-c-select {
  &.govuk-form-group {
    margin-bottom: 10px;
  }
}

.gem-c-metadata {
  @include govuk-font(19);
  margin-bottom: 0;

  dl {
    margin: 0;
  }

  .gem-c-metadata__term {
    width: auto;
    max-width: inherit;
    padding-right: 0;
    float: none;
    @include govuk-font($size: 19, $weight: bold);
  }

  .gem-c-metadata__definition {
    width: auto;
    margin: 0;
    margin-bottom: govuk-spacing(3);
    float: none;

    &:last-child {
      margin: 0;
    }

    @include govuk-clearfix;
  }
}
