.gem-c-phase-banner {
  .gem-c-phase-banner__banner-item {
    display: none;
    margin-right: govuk-spacing(4);

    @include govuk-media-query($from: desktop) {
      display: inline-block;
    }
  }

  .govuk-link {
    font-size: inherit;

    &.active {
      font-weight: bold;
    }
  }
}

.govuk-list {
  &.govuk-list--inline {
    li {
      display: inline-block;
      padding-right: 5px;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}

.gem-c-select {
  &.govuk-form-group {
    margin-bottom: 10px;
  }
}

.gem-c-metadata {
  @include govuk-font(19);
  margin-bottom: 0;

  dl {
    margin: 0;
  }

  .gem-c-metadata__term {
    width: auto;
    max-width: inherit;
    padding-right: 0;
    float: none;
    @include govuk-font($size: 19, $weight: bold);
  }

  .gem-c-metadata__definition {
    width: auto;
    margin: 0;
    margin-bottom: govuk-spacing(3);
    float: none;

    &:last-child {
      margin: 0;
    }

    @include govuk-clearfix;
  }
}

.govuk-table {
  .gem-c-document-list__item {
    margin: 0;
    padding: 0;
  }

  .gem-c-document-list__item-title {
    @extend %govuk-link;
    font-weight: normal;
  }

  .gem-c-document-list__attribute {
    @include govuk-font(16);
  }

  .govuk-table__body {
    .govuk-table__cell {
      @include govuk-font(16);
    }

    .govuk-table__cell:last-child {
      white-space: nowrap;
    }
  }
}

// scss-lint:disable IdSelector
.gem-c-summary-list#steps {
  .govuk-summary-list__key {
    width: 10%;
    font-weight: normal;
  }

  .govuk-summary-list__value {
    width: 70%;
  }
}
// scss-lint:enable IdSelector

.gem-c-inset-text {
  margin-top: 0;
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}
