<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Links",
        font_size: "m",
        margin_bottom: 4
      } %>
  </div>
  <div class="govuk-grid-column-one-third app-grid-column--align-right">
    <% if !tag.tagged_documents.empty? %>
      <div class="govuk-body">
        <%= link_to 'Edit list',
          tag_lists_path(tag),
          class: %w(govuk-link govuk-link--no-visited-state)
        %>
      </div>
    <% end %>
  </div>
</div>

<% if tag.tagged_documents.empty? %>
  <p class="govuk-body">There are no documents tagged to this item.</p>
<% elsif tag.display_curated_links? %>
  <%= render 'shared/tags/curated_links_preview_legacy', tag_object: tag %>
<% else %>
  <%= render 'shared/tags/uncurated_links_preview', tag: tag %>
<% end %>
