<div class="govuk-!-padding-bottom-1">
  <%= render "govuk_publishing_components/components/heading", {
  text: "1. Update GitHub",
  padding: true
  } %>
  <p class="govuk-body">
     Update the<%= link_to " coronavirus content on GitHub", github_url %>
  </p>
</div>
<div class="govuk-!-padding-bottom-1">
  <%= render "govuk_publishing_components/components/heading", {
    text: "2. Get changes reviewed and merged",
    padding: true
  } %>
  <p class="govuk-body">
    Get the changes approved and merged into master.
  </p>
</div>
