<div class="govuk-!-padding-bottom-4">
    <%= render "govuk_publishing_components/components/heading", {
      text: "5. Publish changes",
      padding: true
    } %>
    <%= form_with(url: coronavirus_page_publish_path(coronavirus_page_slug: params[:slug]), local: true) do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "update-type",
        heading: "Update type",
        heading_size: "s",
        small: true,
        items: [
          {
            value: "minor",
            text: "Minor",
            checked: true
          },
          {
            value: "major",
            text: "Major"
          }
        ]
      } %>
      <%= render "govuk_publishing_components/components/button", {
          text: "Publish",
      } %>
    <% end %>
</div>
