.app-broken-link-status {
  @include govuk-font(16);
  color: govuk-functional-colour(secondary-text);

  svg {
    margin-right: .2em;
    vertical-align: middle;
  }
}

.app-broken-link-status--fail {
  color: govuk-functional-colour(error);

  svg {
    fill: govuk-functional-colour(error);
  }
}

.app-broken-link-status--pass svg {
  fill: govuk-colour("green");
}
