<%
  accordions = [
    "Protect yourself and others from coronavirus",
    "Testing for coronavirus",
    "Health and wellbeing",
    "Work and financial support",
    "Working safely",
    "Businesses and self-employed people",
    "School openings, education and childcare",
    "Housing and accommodation",
    "Driving and transport in the UK",
    "International travel and immigration",
    "Volunteering and offering help",
    "Healthcare workers, carers and care settings",
    "Support if someone dies",
  ].map{ |title| {
    field: title,
    edit: { href: "edit-summary" },
    delete: { href: "delete-summary" }
  } }
%>
<div class="covid-manage-page__accordion-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "Guidance and support accordion",
    items: accordions
  } %>
</div>
