<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: 'Mainstream browse pages',
      href: mainstream_browse_pages_url
    },
    *([
      text: @browse_page.parent[:title],
      href: mainstream_browse_page_url(@browse_page.parent)
    ] if @browse_page.parent.present? ),
    {
      text: @browse_page[:title],
      href: mainstream_browse_page_url(@browse_page)
    },
    {
      text: 'Edit',
    }
  ]
} %>

<% content_for :title, govuk_tag_heading(tag: @browse_page, prepend: 'Edit') %>

<%= render 'shared/error_summary', object: @browse_page %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'create_update_form', update: true %>
  </div>
</div>
