<%= header "Mainstream browse pages", breadcrumbs: ["Mainstream browse pages"] do %>
  <%= link_to new_mainstream_browse_page_path, class: 'new' do %>
    <span class="icon"></span> Add a mainstream browse page
  <% end %>
<% end %>

<%= render 'shared/tags/table',
      resources: @browse_pages,
      empty_message: "No mainstream browse pages exist yet.
        #{link_to('Add one', new_mainstream_browse_page_path)}".html_safe %>
