<% content_for :title, "Mainstream browse pages" %>
<% content_for :title_side, render("govuk_publishing_components/components/button", {
  text: "Add a mainstream browse page",
  href: new_mainstream_browse_page_path,
  margin_bottom: true
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-!-margin-bottom-3"><%= pluralize(@browse_pages.count, "mainstream browse page") %></p>
    <%= render "shared/list-browse-pages", pages: @browse_pages %>
  </div>
</div>
