<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: 'Mainstream browse pages',
      href: mainstream_browse_pages_url
    },
    {
      text: 'New',
    }
  ]
} %>

<% content_for :title, "New mainstream browse page" %>

<%= render 'shared/error_summary', object: @browse_page %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'create_update_form', update: false %>
  </div>
</div>
