<%= content_for :page_title, mainstream_browse_page.title %>

<h1><%= mainstream_browse_page.title %></h1>

<dl>
  <dt>Description</dt>
  <dd><%= mainstream_browse_page.description %></dd>
</dl>

<%= link_to 'Edit', edit_mainstream_browse_page_path(mainstream_browse_page) %>
