<div class="covid-manage-page__summary-list--divider">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: t("coronavirus.pages.show.header_section.title"),
    edit: {
      link_text: "Change",
      href: coronavirus_page_edit_header_path(@page.slug),
    },
  } %>
</div>
