<% sub_sections =
 @page.sub_sections.order(:position).map do |sub_section|
   {
     id: sub_section.id,
     field: sub_section.title,
     edit: { href: edit_coronavirus_page_sub_section_path(@page.slug, sub_section) },
     delete: {
       href: coronavirus_page_sub_section_path(@page.slug, sub_section),
       data_attributes: {
         confirm: t("coronavirus.pages.show.sub_sections.confirm"),
         method: "delete"
       }
     }
   }
 end %>

<div class="covid-manage-page__summary-list--divider">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: @page.sections_title,
    items: sub_sections,
    edit: {
      link_text: t("coronavirus.pages.show.sub_sections.reorder"),
      href: reorder_coronavirus_page_sub_sections_path(@page.slug)
    }
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("coronavirus.pages.show.sub_sections.add"),
    href: new_coronavirus_page_sub_section_path(@page.slug)
  } %>
</div>
