<% timeline_entries =
 @page.timeline_entries.order(:position).map do |timeline_entry|
   {
     id: timeline_entry.id,
     field: timeline_entry.heading,
     value: timeline_entry.national_applicability_text,
     edit: { href: edit_coronavirus_page_timeline_entry_path(@page.slug, timeline_entry) },
     delete: {
       href: coronavirus_page_timeline_entry_path(@page.slug, timeline_entry),
       data_attributes: {
         confirm: t("coronavirus.pages.show.timeline_entries.confirm"),
         method: "delete"
       }
     }
   }
 end %>

<div class="covid-manage-page__summary-list--divider">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "Timeline entries",
    items: timeline_entries,
    edit: {
      link_text: t("coronavirus.pages.show.timeline_entries.reorder"),
      href: reorder_coronavirus_page_timeline_entries_path(@page.slug)
    }
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("coronavirus.pages.show.timeline_entries.add"),
    href: new_coronavirus_page_timeline_entry_path(@page.slug)
  } %>
</div>
