<%
links = [
  {
    text: 'Coronavirus pages',
    href: coronavirus_pages_path
  },
  {
    text: "#{@coronavirus_page.name} accordions",
    href: coronavirus_page_path(slug: @coronavirus_page.slug)
  },
  {
    text: "Edit"
  },
]

  metadata = {
    "Status" => "Draft",
    "Last saved" => format_full_date_and_time(DateTime.now),
  }
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @coronavirus_page.title %>
<% content_for :context, 'Edit guidance and support accordion' %>
<% if @sub_section.errors.any? %>
  <%= render "shared/sub_sections/form_errors", resource: @sub_section %>
<% end %>

<div class="covid-edit-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @sub_section, url: coronavirus_page_sub_section_path(@coronavirus_page.slug, @sub_section) do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
