<%
  links = [
    {
      text: t("coronavirus.index.breadcrumb_text"),
      href: coronavirus_pages_path
    },
    {
      text: "#{@page.name} accordions",
      href: coronavirus_page_path(slug: @page.slug)
    },
    {
      text: t("coronavirus.new_sub_section.title")
    },
  ]

  metadata = {
    "Status" => "Draft",
    "Last saved" => format_full_date_and_time(DateTime.now),
  }
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, formatted_title(@page) %>
<% content_for :context, t("coronavirus.new_sub_section.title") %>
<% if @sub_section.errors.any? %>
  <%= render "shared/sub_sections/form_errors", resource: @sub_section %>
<% end %>

<div class="covid-edit-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @sub_section, sub_section: @sub_section, url: coronavirus_page_sub_sections_path do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
