<%= step.title %>

<% if step.link_report? %>
  <div class="step-broken-links__summary">
    <% if step.broken_links? %>
      <span class="app-broken-link-status app-broken-link-status--fail">
        <%= render "svgs/cross.svg" %>
        <%= pluralize(step.broken_links.count, "broken link") %> found
      </span>
    <% else %>
      <span class="app-broken-link-status app-broken-link-status--pass">
        <%= render "svgs/tick.svg" %>
        No broken links
      </span>
    <% end %>
  </div>
<% end %>
