<p class="govuk-body">
  <%= link_to "Content design guide",
    "https://gov-uk.atlassian.net/wiki/spaces/MS/pages/268140618/Content+design+principles+for+step+by+step+navigation+Q4",
    class: "govuk-link",
    target: "_blank" %> for step by step navigation.
</p>

<%# intentionally not indented properly because the PRE formats all whitespace %>
<pre class="small markdown-example"><%= t("steps.content_tasks_links.formatting_guidance") %></pre>
