<% if resource.can_have_children? %>
  <section class="children">
    <header class="heading-with-actions">
      <h2>Children</h2>

      <nav class="actions">
        <% if gds_editor? %>
          <%= link_to new_polymorphic_path(resource, parent_id: resource.id), class: 'new' do %>
            <%= icon :add %> Add child page
          <% end %>
        <% end %>
      </nav>
    </header>

    <%=
      render partial: 'shared/tags/table', locals: {
        resources: resource.children.includes(:lists).order(:title),
        include_children_column: false,
        empty_message: "No children exist yet.
          #{link_to('Add one', new_polymorphic_path(resource, parent_id: resource.id))}".html_safe
      }
    %>
  </section>
<% end %>
