<p class="govuk-body">Links for this tag have been curated into lists. Click on the title for editing on Content Tagger.</p>

<% tag_object.lists.each do |list| %>
  <h3 class="govuk-heading-s"><%= list.name %></h3>
  <% if list.list_items.empty? %>
    <em class="govuk-body">No items in list</em>
  <% end %>

  <%= render "govuk_publishing_components/components/list", {
    visible_counters: true,
    items: list.list_items_with_tagging_status.map do |list_item|
      if list_item.tagged?
        link_to(list_item.display_title || tag.em("Unknown title (#{list_item.base_path}", class: "govuk-body-s"),
         content_tagger_url + "/taggings/" + list_item.content_id, class: "govuk-link")
      else
        list_item.display_title || tag.em("Unknown title (#{list_item.base_path})", class: "govuk-body-s")
      end
    end,
  } %>
<% end %>

<h3 class="govuk-heading-s">Uncurated items <em class="govuk-body">(not shown to user)</em></h3>

<%= render "govuk_publishing_components/components/list", {
  visible_counters: true,
  items: tag_object.uncurated_tagged_documents.map { |item| link_to item.title, content_tagger_url + "/taggings/lookup" + item.content_id, class: "govuk-link" },
} %>
