<div id="curated-lists" class="curated-lists">
  <% tag_object.lists.ordered.each do |list| %>
    <%= render "govuk_publishing_components/components/document_list", {
      items: [
        {
          link: {
            text: list.name
          },
          metadata: {
            edit_list: tag.a("Edit list", href: "#", class: "govuk-link"),
            rename_list: tag.a("Rename list", href: "##", class: "govuk-link"),
            delete_list: tag.a("Delete list", href: "###", class: "govuk-link"),
          }
        },
      ]
    } %>
  <% end %>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-8">Unused links</h3>

<p class="govuk-body-s">
  Unused links have not been included in any of the curated lists. These links will not be shown to users. Select the page title to edit page tagging in Content Tagger.
</p>

<%= render "govuk_publishing_components/components/list", {
  items: tag_object.uncurated_tagged_documents.map { |item| link_to item.title, content_tagger_url + '/taggings/lookup' + item.content_id, class: 'govuk-link' }
} %>
