<% if tag.tagged_documents.empty? %>
  <p>There are no documents tagged to this item.</p>
<% elsif tag.display_curated_links? %>
  <%= link_to 'Edit list', tag_lists_path(tag),
        class: 'btn btn-md btn-default pull-right',
        id: 'edit-list' %>

  <h2>Links</h2>

  <%= render 'shared/tags/curated_links_preview', tag_object: tag %>
<% else %>
  <%= link_to 'Start curating links', tag_lists_path(tag),
        class: 'btn btn-md btn-default pull-right',
        id: 'edit-list' %>

  <h2>Links</h2>

  <%= render 'shared/tags/uncurated_links_preview', tag: tag %>
<% end %>
