<p class="govuk-body-s">Links for this tag have not been curated into lists. Click on the title for editing on Content Tagger.</p>

<%= render "govuk_publishing_components/components/list", {
  visible_counters: true,
  items: tag.tagged_documents.map { |link|  link_to link.title, content_tagger_url + '/taggings/' + link.content_id, class: 'govuk-link' }
} %>
