<p class="govuk-body">There are currently no curated lists for this <%= tag.class.model_name.human.downcase %>. This <%= tag.class.model_name.human.downcase %> will appear as an A to Z list.</p>

<p class="govuk-body">Select the page title to edit tagging in Content Tagger.</p>

<%= render "govuk_publishing_components/components/list", {
  extra_spacing: true,
  items: tag.tagged_documents.map { |link|  link_to link.title, content_tagger_url + '/taggings/' + link.content_id, class: 'govuk-link' }
} %>
