<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: 'Edit content',
      href: @step_by_step_page
    },
    {
      text: 'Add step'
    }
  ]
%>
<%= render 'shared/steps/step_breadcrumb', links: links %>

<h1><%= @step_by_step_page.title %></h1>

<h2>Add a new step</h2>

<%= form_for @step, url: step_by_step_page_steps_path do |form| %>
  <%= render "form", step: @step, form: form %>
<% end %>
