// stylelint-disable-next-line scss/at-import-partial-extension
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

.autocomplete__wrapper {
  background: govuk-colour("white");
}

.autocomplete__input {
  @include govuk-font(19);
  z-index: 1;
  color: govuk-functional-colour(text);
}

.autocomplete__dropdown-arrow-down {
  z-index: 0;
}

.autocomplete__option,
.autocomplete__selected-option {
  @include govuk-font(19);
  color: govuk-functional-colour(text);

  mark {
    border-bottom: 3px solid govuk-functional-colour(focus-text);
    background: govuk-functional-colour(focus);
  }
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  color: govuk-colour("white");

  .autocomplete__option-hint {
    color: govuk-colour("white");
  }
}

.app-c-autocomplete--narrow {
  max-width: 200px;

  @include govuk-media-query($from: tablet) {
    max-width: 230px;
  }
}
