.app-c-internal-change-note {
  margin-bottom: govuk-spacing(6);
}

.app-c-internal-change-note__headline {
  @include govuk-font(19, $weight: bold);
  margin-top: 0;
  margin-bottom: govuk-spacing(1);
}

.app-c-internal-change-note__timestamp {
  @include govuk-font(19);
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  color: $govuk-secondary-text-colour;
}

.app-c-internal-change-note__description {
  @include govuk-font(16);
  margin-top: 0;
  white-space: pre-line;
}
