.app-c-panel {
  &.govuk-panel--inverse {
    color: govuk-colour("white", $legacy: "white");
    background-color: govuk-colour("blue", $legacy: "blue");
    text-align: left;

    .app-c-panel__title,
    .govuk-body,
    .govuk-body-s,
    .govuk-list {
      color: govuk-colour("white", $legacy: "white");
    }
  }
}
