// import govuk_admin_template to get bootstrap styles
@import 'govuk_admin_template';

.new-list {
  margin-bottom: 20px;
}

.btn-submit {
  // @TODO: remove extending classes and just add class to element
  @extend .btn; // scss-lint:disable PlaceholderInExtend
  @extend .btn-lg; // scss-lint:disable PlaceholderInExtend
  @extend .btn-success; // scss-lint:disable PlaceholderInExtend
}

.select2 {
  width: 100%;
}

form label {
  display: block;

  .error {
    color: $state-danger-text;
  }
}

input[type='text'] {
  @extend .form-control; // scss-lint:disable PlaceholderInExtend
}

.errors input {
  border-color: $state-danger-border;
}

button {
  @extend .btn; // scss-lint:disable PlaceholderInExtend
  @extend .btn-default; // scss-lint:disable PlaceholderInExtend
}
