// import govuk_admin_template to get bootstrap styles
@import "govuk_admin_template";

.new-list {
  margin-bottom: 20px;
}

.btn-submit {
  // @TODO: remove extending classes and just add class to element
  @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .btn-lg; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .btn-success; // stylelint-disable-line scss/at-extend-no-missing-placeholder
}

.select2 {
  width: 100%;
}

form label {
  display: block;

  .error {
    color: $state-danger-text;
  }
}

input[type="text"] {
  @extend .form-control; // stylelint-disable-line scss/at-extend-no-missing-placeholder
}

.errors input {
  border-color: $state-danger-border;
}

button {
  @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .btn-default; // stylelint-disable-line scss/at-extend-no-missing-placeholder
}
