// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey: #f5f5f5;
$light-grey-2: #f8f8f8;
$black: #0B0C0C;
$red: #b10e1e;
$grey: #eeeeee;
$beige: #8a6d3b;
$border-grey: #aaaaaa;
$dark-grey: #999999;
$dark-grey-2: #6f777b;

.step-actions {
  padding: 15px 0;
}

.step-by-step-actions .step-action {
  margin-bottom: 15px;
}

.markdown-example {
  @include govuk-font(16);
  white-space: pre-wrap;
  display: block;
  padding: govuk-spacing(4);
  margin: 0 0 govuk-spacing(2);
  color: $black;
  word-wrap: break-word;
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}

// hide up button in first row and down button in last row
.js-reorder:first-of-type .js-up,
.js-reorder:last-of-type .js-down {
  visibility: hidden;
}

.nav.step-by-step-tabs {
  margin-bottom: 2em;

  @media screen and (min-width: 1001px) and (max-width: 1500px) {
    .step-by-step-tab-link {
      min-height: 65px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    .step-by-step-tab-link {
      min-height: 85px;
    }
  }
}

.table-stepnav-rules .checkbox,
.table-stepnav-rules .checkbox label {
  margin-top: 0;
}

.js-reorder {
  cursor: pointer;
}

.drag-and-drop-icon {
  padding: 10px 0;
  margin-left: 0.5em;
  margin-right: -0.5em;
  line-height: 20px;
  vertical-align: middle;
}

.js-reorder-ui-state-highlight {
  box-sizing: border-box;
  background-color: $light-grey;
  margin: 1em 0;
  border: 1px dashed $black;
  border-radius: 4px;
  min-height: 60px;
}

.publish-or-delete .govuk-panel {
  border: 1px solid $grey;
  background-color: $light-grey-2;
}

.publish-or-delete .publish-button {
  margin: 10px 0 10px;
}

.publish-or-delete .panel.delete-or-unpublish-panel {
  border-left: 10px $red solid;
}

.broken-links-accordion__title {
  word-wrap: break-word;
}

.broken-links-accordion__collapsible-link {
  text-decoration: none;
  color: $beige;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $beige;
  }
}

.broken-links-accordion__indicator {
  float: right;

  .broken-links-accordion__indicator-text {
    margin-left: 3px;
  }
}

.broken-links-accordion__indicator--show {
  display: none;
}

.collapsed {
  .broken-links-accordion__indicator--hide {
    display: none;
  }

  .broken-links-accordion__indicator--show {
    display: block;
  }
}

.broken-links-last-checked--summary {
  border-left: 5px solid $grey;
  padding: 10px 20px;
  margin: 20px 0 20px;
}

.last-saved-by--text {
  margin: 20px 0 20px;
  color: $dark-grey;
}

.add-secondary-link--details {
  margin-bottom: 20px;

  &[open] {
    .add-secondary-link--summary {
      display: none;
    }
  }

  .add-secondary-link--summary::-webkit-details-marker {
    display: none;
  }
}

.add-secondary-link--example-text {
  margin: 10px 0;
}

.step-by-step-list__table {
  font-size: 16px;
}

.step-list {
  .step-list__title {
    max-width: 300px;
  }
}

.step-by-step-reorder__list {
  .js-reorder {
    padding: 20px;
    border: 1px solid $dark-grey-2;
    background-color: govuk-colour("white", $legacy: "white");
  }

  .step-by-step-reorder__step-title {
    line-height: 2;
  }
}
