// import govuk_admin_template to get bootstrap styles
@import "govuk_admin_template";

.topics {
  @extend .table; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  @extend .table-bordered; // stylelint-disable-line scss/at-extend-no-missing-placeholder

  margin: 30px 0;

  .parent-tag > th {
    width: 30%;
  }

  tr:not(.parent-tag):nth-of-type(odd) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }

  .edit {
    a {
      @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
      @extend .btn-default; // stylelint-disable-line scss/at-extend-no-missing-placeholder
      @extend .btn-sm; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    padding: 3px;
  }
}

h1 .label {
  font-size: 60%;
  vertical-align: middle;
}
