.curated-list .ui-sortable-handle {
  cursor: move;
}

.untagged-list-items {
  padding: 20px;
}
.untagged-list-items table {
  margin-bottom: 0;
}

html.js .new_list_item {
  display: none;
}

html.js tr {
  .api-url, .index, .remove {
    display: none;
  }
}
