/* import govuk_admin_template to get bootstrap styles */
@import 'govuk_admin_template';

#new-list {
  margin-bottom: 20px;
}

.btn-submit {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-success;
}

.select2 {
  width: 100%;
}

form label {
  display: block;

  .error {
    color: $state-danger-text;
  }
}

input[type='text'] {
  @extend .form-control;
}
.errors input {
  border-color: $state-danger-border;
}

button {
  @extend .btn;
  @extend .btn-default;

  &[type='submit'] {
    @extend .btn-primary;
  }
}
