// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey: #f5f5f5;
$black: #0B0C0C;

.step-actions {
  padding: 15px 0;
}

.markdown-example {
  white-space: pre-wrap;
}

// hide up button in first row and down button in last row
.js-reorder:first-of-type .js-up,
.js-reorder:last-of-type .js-down {
  visibility: hidden;
}

.markdown-example {
  white-space: pre-wrap;
}

.table-stepnav-rules .checkbox,
.table-stepnav-rules .checkbox label {
  margin-top: 0;
}

.js-reorder {
  cursor: pointer;
}

.drag-and-drop-icon {
  padding: 10px 0;
  margin-left: 0.5em;
  margin-right: -0.5em;
  line-height: 20px;
  vertical-align: middle;
}

.js-reorder-ui-state-highlight {
  box-sizing: border-box;
  background-color: $light-grey;
  margin: 1em 0;
  border: 1px dashed $black;
  border-radius: 4px;
}
