// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.step-actions,
ul.step-actions {
  padding: 15px 0;
}

pre.markdown-example {
  white-space: pre-wrap;
}

// hide up button in first row and down button in last row
.js-reorder:first-of-type .js-up,
.js-reorder:last-of-type .js-down {
  visibility: hidden;
}

pre.markdown-example {
  white-space: pre-wrap;
}

.table-stepnav-rules .checkbox,
.table-stepnav-rules .checkbox label {
  margin-top: 0;
}
