// import govuk_admin_template to get bootstrap styles
@import 'govuk_admin_template';

.topics {
  // scss-lint:disable PlaceholderInExtend
  @extend .table;
  @extend .table-bordered;

  margin: 30px 0;

  .parent-tag > th {
    width: 30%;
  }

  tr:not(.parent-tag):nth-of-type(odd) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }

  .edit {
    a {
      @extend .btn;
      @extend .btn-default;
      @extend .btn-sm;
    }

    padding: 3px;
  }
}

h1 .label {
  font-size: 60%;
  vertical-align: middle;
}
