<% timeline_entries = @coronavirus_page.timeline_entries.order(:position) %>

<div class="covid-manage-page__summary-list">
  <ul class="govuk-list step-by-step-reorder__list" id="js-reorder-group">
    <% timeline_entries.each_with_index do |timeline_entry, index| %>
      <li class="js-reorder" data-id="<%= timeline_entry.id %>">
        <div class="govuk-grid-row" id="step-<%= index %>">
          <div class="govuk-grid-column-three-quarters govuk-!-font-weight-bold step-by-step-reorder__step-title">
            <%= timeline_entry.heading %>
          </div>
          <div class="govuk-grid-column-one-quarter js-order-controls">
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
